<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/crudresecnas" text="Atrás" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Reseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="editarresecna-container">
    <ion-list>
      <!-- Producto -->
      <ion-item lines="none" *ngFor="let product of productaso">
        <ion-label position="floating">{{ product.nombre_prod }}</ion-label>
      </ion-item>

      <!-- Usuario -->
      <ion-item lines="none">
        <ion-label position="floating">{{ resecnaSeVino.username }}</ion-label>
      </ion-item>

      <!-- Reseña -->
      <ion-item lines="none">
        <ion-label position="floating">{{ resecnaSeVino.text_resecna }}</ion-label>
      </ion-item>

       <!-- Motivo del Baneo -->
       <ion-item>
        <ion-label class="motivo-label" position="floating">Motivo del Baneo</ion-label>
        <ion-textarea [(ngModel)]="motivoBaneo" class="custom-motivo-textarea"></ion-textarea>
      </ion-item>

      <p *ngIf="errorMotivoVacio">Se debe especificar el motivo del baneo</p>

      <ion-button expand="block" color="primary" class="boton" (click)="guardarCambios()">
        Guardar Cambios
      </ion-button>
    </ion-list>
  </div>
</ion-content>
